.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	font-weight: 100;
	color: whitesmoke;

}

img {
	width: 400px;
	height: 250px; 
	margin: 15px;
	transition: all 1s;
	box-shadow: 10px 10px 10px #ffffff;
}

img:hover {
	transform: scale(1.1);
}

h2 {color: white;}


body {

	background-image: url('https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?auto=compress&cs=tinysrgb&w=600') ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
